* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


button {
    padding: 1.357em 1.786em;
    border: none;
    outline: none;
}

/* .wrap {
    max-width: 1200px;
    margin: auto;
} */

/* navbar  */
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.top-nav {
    padding: 5px 15px;
    background-color: #00af89;
}

.top-nav button {
    padding: 0.875em 1em;
    background-color: #104099;
    color: white;
}

.top-nav h6,
.top-nav span {
    color: white;
}

.top-nav p {
    color: rgba(255, 255, 255, .5);
}

.top-nav h6,
.top-nav p {
    margin-bottom: 0;
}

.top-nav .d-flex>* {
    margin: 0 3px;
}

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    /* position: fixed;
    width: 100%; */
    background: #fff;
    color: #000;
    /* opacity: 0.85; */
    z-index: 100;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.logo {
    order: 1;
    font-size: 2.3rem;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a {
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar .logo img {
    width: 126px;
}

.navbar a:hover {
    color: #117964;
}

@media (max-width: 768px) {
    .navbar {
        opacity: 0.95;
    }

    .navbar .main-links {
        flex-direction: column;
    }

    .navbar .menu-items.icon-items {
        transform: translateY(0);
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li {
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px) {
    .navbar-container input[type="checkbox"]:checked~.logo {
        display: none;
    }
}

.desc {
    position: absolute;
    padding: 8%;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

}

.hero-img {
    position: relative;
}


.hero-img:before {
    background: rgba(0, 0, 0, 0.38);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.btn-gradient-bg {
    color: #fff;
    display: inline-block;
    padding: 11px 33px;
    background: linear-gradient(to right, #f05874 0%, #fc6a2a 100%);
    border-radius: 30px;
}

.delay-1 {
    animation-delay: .2s;
}

.delay-2 {
    animation-delay: .4s;
}

.delay-3 {
    animation-delay: .6s;
}

.delay-4 {
    animation-delay: .8s;
}



.slider-counter {
    z-index: 99;
    bottom: 1%;
    position: absolute;
    text-align: center;
    right: 4%;
    font-size: 120px;
    color: rgba(242, 242, 242, 0.7);
    font-weight: 700;
}

@media (max-width: 767px) {
    .slider-counter {
        font-size: 80px;
        font-weight: 600;
        bottom: 0
    }
}

@media (max-width: 576px) {
    .slider-counter {
        font-size: 30px;
        font-weight: 500;
        bottom: 0
    }
}

.hero_carosel .owl-nav button.owl-prev,
.hero_carosel .owl-nav button.owl-next {
    font-size: 16px;
    position: absolute;
    bottom: 50%;
    right: 50%;
    color: #000;
}

.hero_carosel .owl-prev {
    width: 0;
}

.hero_carosel .owl-nav button.owl-prev {
    left: 0
}

.hero_carosel .owl-nav button.owl-next {
    right: 0
}

.hero_carosel i.owl-direction {
    margin: 0 13px;
    font-size: 3em;
    padding: 0;
    color: #607D8B;
}

.hero_carosel .owl-nav button.owl-next,
.hero_carosel .owl-nav button.owl-prev {
    outline: 0;
}

.tag {
    display: inline-block;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

.fadeInUp {
    animation-name: fadeInUp
}

.experience-holdays {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr 2fr 4fr;
}

.clr-blue {
    color: rgb(16, 64, 153)
}

.clr-green {
    color: rgb(0, 175, 137);
}

.bg-blue-type {
    background-color: rgb(16, 64, 153);
    color: white;
}

.bg-green-type {
    background-color: rgb(0, 175, 137);
    color: white;
}


/* index treatment */
.index-treatments .wrap {
    max-width: 1200px;
    margin: auto;
}

.index-treatments .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}

/* free qoute  */
.free-q {
    color: white;
}

.free-q input {
    height: 3.25em;
    border-radius: 2px;
}

.free-q button {
    padding: 1.357em 1.786em;
    font-size: .875em;
    line-height: 1;
    background-position: 0 0;
    background-size: 200% 100% !important;
    border: 0;
    color: #fff;
    background: #104099;
    box-shadow: 1px 1px 3px 1px rgb(34 34 34 / 20%);
    transition: all 300ms ease;
}

.free-q button:hover {
    transform: translateY(-2px);
    background: linear-gradient(to right, #00af89 1%, #104099 100%);

}

.free-q input {
    height: 4em;
}

.free-q .wrap {
    max-width: 1500px;
    margin-left: auto;
}

.free-q .area {
    padding: 50px 0;
    margin-right: -30px;
    position: relative;
    z-index: 2;
}

.free-q .grid {
    display: grid;
    grid-template-columns: 4fr 6fr;
    align-items: center;
}

.free-q .img-div img {
    width: 100%;
}

.free-q .conjest {
    background-color: #00af89;
    padding: 50px 25px;

}

/* reason to smile  */
.clients-with .wrap {
    max-width: 1200px;
    margin-left: auto;
    overflow: hidden;
}

.clients-with .heading-wrap {
    max-width: 1000px;
}

.clients-with .owl-nav {
    display: none;
}

.clients-with .item {
    background-color: rgb(240, 244, 247);
    padding: 30px 15px;
}

.clients-with .owl-dots {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-with .owl-dots .owl-dot {
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0 3px;
    background: none;
}

.clients-with .owl-dots .owl-dot::before {
    content: "";
    width: 17px;
    height: 3px;
    position: absolute;
    transform: translateY(-50%);
    background-color: rgb(240, 244, 247);
    transition: all .5s ease-in;
}

.clients-with .owl-dots .owl-dot.active::before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00af89;
}

.clients-with .item .img-div img {
    width: 60px;
    border-radius: 50%;
}

.clients-with .owl-stage {
    display: flex;
}

/* dental professionals */
.d-professionals .wrap {
    max-width: 1300px;
}

.d-professionals .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.d-professionals .img-div img {
    width: 100%;
}

.d-professionals .img-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.d-professionals .line {
    background-color: rgb(225, 232, 240);
    height: 3px;
}

.d-professionals .img-grid img {
    width: 100%;
}

/* card-main */
.card-main {
    padding: 50px 0;
}

.card-main .wrap {
    max-width: 1200px;
    margin: auto;
}

.card-main .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;

}

.card-main .entity img {
    width: 100%;
    transition: all .5s ease-in;
}

.card-main .entity .bg-img {
    position: relative;
    overflow: hidden;
}

.card-main .bg-img:hover>img {
    transform: scale(1.06);
}

.card-main .bg-img:hover>.hover-efct {
    background-color: rgba(0, 175, 137, 0.6);
}

.card-main .content {
    padding: 50px;
    background-color: rgb(225, 232, 240);
}

.card-main .content .para {
    height: 150px;
    overflow-y: hidden;
}

.card-main .content p {
    text-align: justify;
}

.card-main .btn-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-main .btn-logos button {
    color: rgb(0, 175, 137);
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgb(34 34 34 / 20%);
    transition: transform .2s ease-in;

}

.card-main .btn-logos button:hover {
    transform: translateY(-5px);
}

.card-main .btn-logos span {
    color: rgb(16, 64, 153);
}

.card-main .btn-logos a {
    margin: 0 2px;
}

.card-main .bg-img .hover-efct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in;
}



/* prefect smile  */
.perfect-smile {
    padding: 50px 15px;
}

.perfect-smile .wrap {
    max-width: 1300px;
    margin: auto;
}

.perfect-smile .progress {
    height: 10px;
}

.perfect-smile .progress-bar {
    background-color: #00af89;
}

.perfect-smile .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    align-items: center;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.image-before {
    position: absolute;
    inset: 0;
    width: var(--position);
    /* filter: grayscale(100%) */
}

.slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0;
    /* for Firefox */
    width: 100%;
    height: 100%;
}

.slider:focus-visible~.slider-button {
    outline: 5px solid black;
    outline-offset: 3px;
}

.slider-line {
    position: absolute;
    inset: 0;
    width: .2rem;
    height: 100%;
    background-color: #fff;
    /* z-index: 10; */
    left: var(--position);
    transform: translateX(-50%);
    pointer-events: none;
}

.something-new {
    display: grid;
    place-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    --position: 50%;
}

.img-con {
    max-width: 800px;
    max-height: 90vh;
    aspect-ratio: 1/1;
}

.slider-button {
    position: absolute;
    background-color: #fff;
    color: rgb(0, 175, 137);
    padding: .5rem;
    border-radius: 100vw;
    display: grid;
    place-items: center;
    top: 50%;
    left: var(--position);
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* z-index: 100; */
    box-shadow: 1px 1px 1px hsl(0, 50%, 2%, .5);
}


.perfect-smile .img-con img {
    width: 100%
}

/* dental travel */
.dental-travel {
    background: url(../images/dental-travel.jpg);
    background-size: cover;
    color: white;
    padding-top: 100px;
}


.dental-travel .wrap {
    max-width: 1200px;
    margin: auto;
}

.dental-travel .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.dental-travel .icons-box {
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.dental-travel .box {
    box-shadow: 1px 1px 10px 1px rgb(34 34 34 / 20%);
    margin-bottom: -24px;
}

.dental-travel .btn-div {
    padding: 50px 0;
    background-color: white;
    text-align: center;
}

.dental-travel .btn-div button {
    color: white;
    background: rgb(16, 64, 153);
    transition: all .2s ease-in;
    /* background-image: linear-gradient(to right, #104099 51%, #00af89 100%); */
}

.dental-travel .btn-div button:hover {
    /* background-image: linear-gradient(to right, #104099 51%, #00af89 100%); */
    background-image: linear-gradient(to right, #104099 5%, #00af89 100%);
    transform: translateY(-3px);
    box-shadow: 1px 1px 10px 1px rgb(34 34 34 / 20%);
}

.dental-travel .icons-box p {
    text-align: center;
    margin: 10px 0;
}

.dental-travel .icons-box span {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dental-travel .aero-icon svg {
    transform: rotate(45deg);
}

/* endulge */
.Endulge-your .wrap {
    max-width: 1200px;
    margin: auto;
}

.Endulge-your .no-contact {
    margin: 50px 0;
    background-image: url(../images/bgn-budapest-3.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    color: white;
}

.Endulge-your .no-contact button {
    color: white;
    /* background: rgb(0, 175, 137); */
    transition: all .2s ease-in;
    position: relative;
    z-index: 2;
    /* background-image: linear-gradient(to right, #104099 51%, #00af89 100%); */
}

.Endulge-your .no-contact button::after {
    content: "";
    top: 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgb(0, 175, 137);
    transition: background-color .2s ease-in;
}

.Endulge-your .no-contact button::before {
    content: "";
    top: 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 0;
    background-color: rgba(16, 64, 153, 0.7);
    clip-path: polygon(50% 0%, 100% 1%, 100% 100%, 47% 100%, 38% 86%, 38% 64%, 26% 41%, 44% 29%, 35% 16%);
    z-index: -1;
    transition: width .2s ease-in;
}

.Endulge-your .no-contact button:hover::before {
    width: 60%;
}

.Endulge-your .no-contact button:hover::after {
    z-index: -2;
    opacity: 0.7;
}

.Endulge-your .no-contact button:hover {
    /* background-image: linear-gradient(to right, #104099 51%, #00af89 100%); */
    /* background-image: linear-gradient(to right, #00af89 5%, #104099 100%); */
    transform: translateY(-3px);
    box-shadow: 1px 1px 10px 1px rgb(34 34 34 / 20%);
}

.Endulge-your .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
}

.Endulge-your .img-div {
    position: relative;
    max-width: 80%;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}

.Endulge-your .img-div .hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 2;
    background-color: none;
    width: 100%;
    height: 100%;
    transition: background-color .6s ease-in;
}

.Endulge-your .img-div:hover>.hover-effect {
    background-color: rgba(0, 175, 137, 0.7);
}

.Endulge-your .img-div:hover>img {
    transform: scale(1.08);
}

.Endulge-your .img-div img {
    width: 100%;
    transition: transform .4s ease-in;
}

/* .Endulge-your .img-div1 {
    background-image: url(../images/what-to-see.jpg);
    background-position: ;
    height: 100px;
    width: 100px;
    border-radius: 50%;
} */


/* foooter csss */
.footer .first-f {
    background-color: rgb(225, 232, 240);
}

.footer .footer-logo img {
    width: 100%
}

.first-f .our-awards img {
    width: 100%;
}

.first-f {
    padding: 50px 0;
}

.first-f .wrap {
    max-width: 1200px;
    margin: auto;
}

.first-f .about-denticare .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
}

.about-denticare .grid a {
    color: black;
}

.footer .footer-logo {
    max-width: 150px;
}

.first-f .social-net span {
    position: relative;
    width: 30px;
    overflow: hidden;
    height: 30px;
    font-size: 15px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: color .6s ease-in;
}

.first-f .social-net span:hover::before {
    transform: scale(2.2);
}

.first-f .social-net span:hover {
    color: rgb(16, 64, 153);
}

.first-f .social-net span:hover::after {
    transform: scale(1.1);
}

.first-f .social-net a {
    margin: 0 5px;
}

.first-f .social-net span::after {
    content: "";
    z-index: -1;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    transform: scale(0);
    border-radius: 50%;
    height: 100%;
    z-index: -1;
    transition: transform .6s ease-in;

}

.first-f .social-net span::before {
    content: "";
    z-index: -1;
    position: absolute;
    background-color: rgb(16, 64, 153);
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    transition: transform .6s ease-in;
}

.footer .first-f .main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
}

.footer-s .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer .footer-nav ul {
    list-style: none;
    display: flex;
    margin-bottom: 0;
}

.footer .footer-nav li {
    padding: 20px;
}

.footer-nav a {
    color: white;
}